# Ignore logs and temp files  
/logs/**/*  
/test/modlogs  
/test/replays/*.html  

# Ignore dependencies and caches  
/node_modules  
/eslint-cache  
npm-debug.log  
.eslintcache  
.eslintcache-no-types  

# Ignore temporary build artifacts  
/tools/set-import/sets  
/tools/set-import/importer.js  
/tools/modlog/converter.js  
*.tsbuildinfo  
**/sourceMaps  
!test/**/*.js  
tools/modlog/**/*.js  
tools/set-import/*.js  

# Ignore personal IDE/editor files  
.vs  
.idea/  
.DS_Store  
*~  
*.swp  

# Ignore system-generated temporary files  
tmp/**/*  
*.lock  
*.out  
*.pyc  
*.pyo  
.installed.cfg  

# Ignore package build artifacts  
downloads  
dist  

# Ignore unnecessary metadata files  
develop-eggs  
*.egg-info  
*.egg  
*.EGG  
*.EGG-INFO  
src/*.egg-info  
eggs  
fake-eggs  

# Ignore Django-specific settings (not needed for Showdown, but keeping just in case)  
local_settings.py  

# Ignore version control system files  
.hg  
.bzr  
.svn  

# Ignore redis dumps  
*.rdb  
